.name {

}

.title {
  font-size: 55px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 10px;
  text-align: center;
}

.subtitle {
  font-size: 35px;
  font-weight: 300;
  line-height: 50px;
  letter-spacing: 2px;
  text-align: center;
}

.bottom {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100px;
}

.tel {
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  text-decoration: none;
  color: var(--color-w);
}

.text {
  text-align: center;
  line-height: 40px;
  font-weight: 200;
  font-size: 14px;
  color: var(--color-w);
  letter-spacing: 1px;
}


@media (max-width: 1200px) {
  .bottom {
    bottom: 50px;
  }

  .title {
    font-size: 48px;
  }

  .subtitle {
    font-size: 30px;
    letter-spacing: 1px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 34px;
    line-height: 40px;
  }

  .subtitle {
    font-size: 25px;
  }

  .text {
    font-size: 17px;
  }
}

@media (max-width: 576px) {
  .title {
    font-size: 29px;
    line-height: 30px;
  }

  .subtitle {
    font-size: 25px;
  }

  .text {
    font-size: 17px;
  }
}