.swiper {
  width: 700px;
  height: 400px;
}

.slide {
  color: var(--color-w);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  line-height: 35px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 4px;
}

.buttons_box {
  display: flex;
  justify-content: center;
  gap: 50px;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100px;
}

.button {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  transition: opacity 0.3s;
  width: 40px;
  height: 40px;
  padding: 0;
}

.arrowLeft {
  width: 100%;
  height: 100%;
  transform: rotate(-180deg);
}

.arrowRight {
  width: 100%;
  height: 100%;
}


.button_arrow_l {
  fill: var(--color-w);
  opacity: 0.4;
  transform: rotate(180deg);
  transition: 0.2s;
  width: 100%;
  height: 100%;
  display: block;
}

.button_arrow_l:hover {
  opacity: 1;
}

.button_arrow_r {
  fill: var(--color-w);
  transition: 0.2s;
  opacity: 0.4;
  width: 100%;
  height: 100%;
  display: block;
}
.button_arrow_r:hover {
  opacity: 1;
}


@media (max-width: 1200px) {
  .slide {
    font-size: 20px;
  }

  .buttons_box {
    bottom: 50px;
  }
}

@media (max-width: 768px) {
  .swiper {
    width: 100%;
    padding: 0 10px;
  }
}

@media (max-width: 576px) {
  .slide {
    font-size: 18px;
    line-height: 30px;
  }

}